
# delete cache weekly (Sunday mornings)
22 6 * * 0  (/bin/date; $HOME/bin/otrs.DeleteCache.pl) >> /var/opt/otrs/file/log/otrs.DeleteCache.pl.log
33 6 * * 0  (/bin/date; $HOME/bin/otrs.LoaderCache.pl -o delete) >> /var/opt/otrs/file/log/otrs.LoaderCache.pl.log
